---
import BaseLayout from '../layouts/Base.astro';
---

<BaseLayout title="not found :(">
  <div
    class="flex h-full items-center justify-center p-4 transition-colors dark:bg-zinc-900 dark:text-white"
  >
    <div class="prose w-full max-w-sm">
      <p>
        you found a super secret page! unfortunately there is no content here
        yet.
      </p>
      <p><a href="/">take me home</a></p>
    </div>
  </div>
</BaseLayout>
