---
import '@fontsource/inter';
import '@fontsource/inter/600.css';
import '@fontsource/inter/900.css';

import BaseLayout from '../layouts/Base.astro';
import Link from '../components/Link.astro';
---

<BaseLayout title="womogenes">
  <div
    class="flex h-full items-center justify-center p-4 transition-colors dark:bg-zinc-900 dark:text-white"
  >
    <div class="w-full max-w-lg">
      <!-- Title -->
      <div class="mb-2 flex-col items-center gap-4 tracking-tight">
        <img src="/favicon.svg" class="mb-2 h-12" />
        <h1 class="text-4xl font-black">William Y. Feng</h1>
      </div>

      <!-- Content -->
      <div>
        <p class="mb-2">dev, builder, artist</p>

        <!-- Social links -->
        <div class="mb-4 flex gap-2">
          <Link
            icon="lucide:github"
            href="https://github.com/womogenes"
            color="#000000"
          />
          <Link
            icon="lucide:youtube"
            href="https://youtube.com/c/WilliamYFeng"
            color="#ff0033"
          />
          <Link
            icon="lucide:instagram"
            href="https://instagram.com/womogenes"
            color="#c13584"
          />
        </div>

        <!-- Projects -->
        <div class="prose flex flex-col gap-2">
          <h2 class="mb-1 text-2xl font-bold">things</h2>

          <p>
            <a href="https://photonfarmers.pages.dev" target="_blank">
              photon farmers</a
            > &mdash; a game about the future of solar energy<br />
            <span class="text-muted">(three.js, sveltekit)</span>
          </p>

          <p>
            <a
              href="https://spotify-pca-map.netlify.app/interactive"
              target="_blank"
            >
              spotify artist map</a
            > &mdash; pca-based map of 2.5k spotify artists<br />
            <span class="text-muted">(python, d3.js)</span>
          </p>

          <p>
            <a href="https://selltoai.womogenes.com" target="_blank">
              sell to ai</a
            > &mdash; a game about product placement in the age of ai<br />
            <span class="text-muted">(next.js, fastapi, openai api)</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  html,
  body {
    @apply h-full;
  }

  .prose {
    @apply dark:text-white;
  }
  .prose h2 {
    @apply dark:text-white;
  }
  .prose a {
    @apply text-blue-500 dark:text-blue-300;
  }
  .prose p {
    @apply m-0 leading-normal;
  }

  .text-muted {
    @apply text-zinc-400 dark:text-zinc-300;
  }
</style>
