---
import BaseLayout from '../layouts/Base.astro';
import Link from '../components/Link.astro';
---

<BaseLayout title="womogenes">
  <div
    class="flex min-h-screen items-center justify-center p-4 py-8 transition-colors dark:bg-zinc-900 dark:text-white"
  >
    <div class="w-full max-w-lg">
      <!-- Title -->
      <div class="mb-2 flex-col items-center gap-4 tracking-tight">
        <img src="/favicon.svg" class="mb-2 h-12" />
        <h1 class="text-4xl font-black">William Y. Feng</h1>
      </div>

      <!-- Content -->
      <div>
        <p class="mb-3">dev, builder, artist</p>

        <!-- Social links -->
        <div class="mb-4 flex gap-2">
          <Link
            icon="lucide:github"
            href="https://github.com/womogenes"
            color="#000000"
          />
          <Link
            icon="lucide:youtube"
            href="https://youtube.com/@womogenes"
            color="#ff0033"
          />
          <Link
            icon="lucide:instagram"
            href="https://instagram.com/womogenes"
            color="#c13584"
          />
        </div>

        <!-- Projects -->
        <div class="prose mt-2 flex flex-col">
          <h2 class="mb-2 text-2xl font-bold">things</h2>

          <p>
            <a
              href="https://spotify-pca-map.netlify.app/interactive"
              target="_blank"
            >
              spotify artist map</a
            > &mdash; pca-based map of 2.5k spotify artists<br />
            <span class="text-muted">(python, d3.js)</span>
          </p>

          <p>
            <a href="https://github.com/joshop/risc16asm" target="_blank">
              risc16asm</a
            > &mdash; assembler and interpreter for 16-bit risc-inspired architecture
            <span class="text-muted">(python, js)</span>
          </p>

          <p>
            <a href="https://womogenes.github.io/soccer" target="_blank">
              soccer</a
            > &mdash; head soccer, in the browser
            <span class="text-muted">(p5.js)</span>
          </p>

          <p>
            <a
              href="https://github.com/womogenes/fractal-music-visualizer"
              target="_blank"
            >
              fractal music visualizer</a
            > &mdash; music -&gt; fractals
            <span class="text-muted">(sveltekit, web audio api, some math)</span
            >
          </p>

          <p>
            <a href="https://photonfarmers.pages.dev" target="_blank">
              photon farmers</a
            > &mdash; a game about the future of solar energy
            <span class="text-muted">(three.js, sveltekit)</span>
          </p>

          <p>
            <a href="https://arxiv.org/abs/2401.15690" target="_blank"
              >deep learning for photon jet detection</a
            >
            <span class="text-muted">(2022&ndash;2024)</span>
          </p>
        </div>

        <!-- Teams -->
        <div class="prose mt-2 flex flex-col">
          <h2 class="mb-2 text-2xl font-bold">teams</h2>

          <p>
            <a href="https://suno.com" target="_blank">suno</a>
            <span class="text-muted">(summer 2025, ml engineer, full-stack engineer)</span>
          </p>

          <p>
            <a href="https://gdg.mit.edu" target="_blank">mit game dev guild</a>
            <span class="text-muted">(2025&ndash;present, webmaster)</span>
          </p>

          <p>
            <a href="https://gatekeep.ai" target="_blank">gatekeep.ai</a>
            <span class="text-muted">(summer 2024, full-stack engineer)</span>
          </p>

          <p>
            <a href="https://mutorials.org" target="_blank">mutorials</a>
            <span class="text-muted">(summer 2024, full-stack engineer)</span>
          </p>

          <p>
            <a href="https://seattleinfinity.org" target="_blank"
              >seattle infinity math circle</a
            >
            <span class="text-muted">(2022&ndash;2024)</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
