---
import '@fontsource-variable/inter';
const { title } = Astro.props;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/public/favicon.svg" type="image/svg+xml" />
    <link rel="manifest" href="/manifest.json" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
